In [4]:
from sqlite3 import connect
from pathlib import Path
import pandas as pd

# Define the database path
db_path = Path().resolve() / 'employee_events.db'

# Function to fetch all rows from a specific table
def read_table(table_name):
    with connect(db_path) as conn:
        query = f"SELECT * FROM {table_name};"
        return pd.read_sql_query(query, conn)

# Function to list all table names in the database
def get_table_names():
    with connect(db_path) as conn:
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
        tables = cursor.fetchall()
    return [table[0] for table in tables]

# List all tables
tables = get_table_names()
print("Tables in the database:", tables)

# Read and display the contents of each table
for table in tables:
    print(f"\nContents of table '{table}':")
    print(read_table(table))

Tables in the database: ['employee', 'team', 'notes', 'employee_events']

Contents of table 'employee':
    index  employee_id first_name  last_name  team_id
0       0            1       Alex   Martinez        2
1       1            2   Brittany   Williams        3
2       2            3     Calvin       Chen        5
3       3            4    Daniela     Rivera        3
4       4            5      Ethan      Patel        4
5       5            6      Fiona   Sullivan        2
6       6            7     George   Thompson        3
7       7            8      Henry        Lee        2
8       8            9   Isabella     Watson        1
9       9           10       Jack    Ramirez        2
10     10           11      Karen      Lopez        4
11     11           12       Liam     Nguyen        5
12     12           13       Maya    Johnson        2
13     13           14     Nathan      Scott        4
14     14           15     Olivia     Brooks        1
15     15           16       Paul        Kim        4
16     16           17      Quinn      Davis        1
17     17           18       Rosa  Hernandez        2
18     18           19     Samuel     Turner        3
19     19           20     Taylor    Bennett        1
20     20           21    Ulysses      Ortiz        3
21     21           22   Victoria     Parker        4
22     22           23    William     Foster        4
23     23           24     Xavier     Morgan        2
24     24           25        Zoe     Carter        3

Contents of table 'team':
   index  team_id     team_name  \
0      0        2    Bravo Team
1      1        3  Charlie Team
2      2        5     Echo Team
3      4        4    Delta Team
4      8        1    Alpha Team

                                               shift      manager_name
0                Afternoon Shift: 2:00 PM - 10:00 PM      James Carter
1                    Night Shift: 10:00 PM - 6:00 AM   Sophia Reynolds
2  Weekend Shift: Saturday & Sunday, 7:00 AM - 7:...  Melissa Thompson
3  Split Shift: 8:00 AM - 12:00 PM, 4:00 PM - 8:0...  Melissa Thompson
4                   Morning Shift: 6:00 AM - 2:00 PM  Melissa Thompson

Contents of table 'notes':
     index  employee_id  team_id  \
0      124           25        3
1      264           15        1
2      294           20        1
3      333            9        1
4      346           22        4
..     ...          ...      ...
120   5855            6        2
121   6092           18        2
122   6470           21        3
123   6472           23        4
124   6490           16        4

                                                  note   note_date
0    Her keen eye for detail caught a shipment erro...  2024-04-29
1    Suggested a more efficient method of tracking ...  2024-05-07
2    Needs improvement in following up on tasks onc...  2024-05-08
3    Consistently checks in with her team, making s...  2024-05-10
4    Forgot to finalize a critical order, which cau...  2024-05-10
..                                                 ...         ...
120  Identified a recurring bottleneck in productio...  2025-03-17
121  Tends to be overly critical when giving feedba...  2025-03-28
122  Needs to improve communication with his team, ...  2025-04-18
123  Helped reorganize the storeroom, improving inv...  2025-04-18
124  Found a way to reduce packaging costs by 15% w...  2025-04-21

[125 rows x 5 columns]

Contents of table 'employee_events':
      index  event_date  employee_id  team_id  positive_events  \
0         0  2024-04-23            1        2                1
1         1  2024-04-23            2        3                2
2         2  2024-04-23            3        5                4
3         3  2024-04-23            4        3                0
4         4  2024-04-23            5        4                2
...     ...         ...          ...      ...              ...
6545   6545  2025-04-23           21        3                4
6546   6546  2025-04-23           22        4                3
6547   6547  2025-04-23           23        4                4
6548   6548  2025-04-23           24        2                3
6549   6549  2025-04-23           25        3                4

      negative_events
0                   2
1                   3
2                   0
3                   0
4                   1
...               ...
6545                0
6546                0
6547                0
6548                1
6549                0

[6550 rows x 6 columns]

In [3]:
This SQL query retrieves the names of all tables in the SQLite database. It queries the `sqlite_master` table, which is a system table in SQLite that stores metadata about the database schema. The `WHERE type = 'table'` condition ensures that only table names are returned, excluding other objects like indexes or views.

SyntaxError: invalid syntax (Temp/ipykernel_73616/3550266777.py, line 1)